<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763131608876-r7bp6forkaj3chm57uiobmdsapa4d1mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763131608876-r7bp6forkaj3chm57uiobmdsapa4d1mm</string>
	<key>API_KEY</key>
	<string>AIzaSyBqbuW4St-c7wAv0H9M7VC1p5yMJ3jQEhg</string>
	<key>GCM_SENDER_ID</key>
	<string>763131608876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SebastianMac.Dominion</string>
	<key>PROJECT_ID</key>
	<string>dominion-e91fd</string>
	<key>STORAGE_BUCKET</key>
	<string>dominion-e91fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763131608876:ios:f262ca3b3f758780bfb689</string>
</dict>
</plist>